# Keyboard
ACTION=="add", ATTRS{idVendor}=="24f0", ATTRS{idProduct}=="0140", RUN+="/usr/local/bin/displays_on"
ACTION=="remove", ATTRS{idVendor}=="24f0", ATTRS{idProduct}=="0140", RUN+="/usr/local/bin/displays_off"
